*.gem
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/lib/bookshark/storage/html_book_pages/
/lib/bookshark/storage/html_author_pages/
/lib/bookshark/storage/html_publisher_pages/
/lib/bookshark/storage/json_book_pages/
/lib/bookshark/storage/json_author_pages/
/lib/bookshark/storage/json_publisher_pages/
/lib/bookshark/logs/*.log
*.bundle
*.so
*.o
*.a
mkmf.log
*.log
*.sql
*.sqlite
